<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        {% block title %}
        <title>Início | Portfolio</title>
        {% endblock %}
        {% block css %}
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
        <link href="{{ url_for('static', filename='styles/output.css') }}" rel="stylesheet">
        {% endblock %}
    </head>
    <body class="bg-gray-100">
        {% block navbar %}
        <header class="navbar bg-blue-950 drop-shadow-xl">
            <div class="container ali">
                <img src="{{ url_for('static', filename='logo.jpegteste') }}" class="logo">
                <nav class="menu fixed top-0 right-0 bg-blue-950 w-64 p-2">
                    <ul>
                        <li><a href="/" class="hover:underline transition duration-200 ease-in-out block">Início</a></li>
                        <li><a href="/projects" class="hover:underline transition duration-200 ease-in-out block">Projetos</a></li>
                        <li><a href="/about" class="hover:underline transition duration-200 ease-in-out block">Sobre mim</a></li>
                    </ul>
                </nav>
            </div>
        </header>
               
        {% endblock %}
        {% block body %}
          <div class="flex items-start justify-center p-6">
            <div class="flex items-start space-x-4">
              <img src="{{ url_for('static', filename='logo.jpeg')}}" alt="Imagem" class="w-24 h-24 object-cover rounded-full">
              <p class="text-2xl font-semibold p-6 inline-block align-middle text-blue-950">Rafael dos Santos Alves de Andrade</p>
            </div>
          </div>
          <div class="bg-white shadow-md rounded-lg p-6 max-w-md mx-auto my-10">
            <h2 class="text-2xl font-bold mb-4 text-blue-950">Perfil Pessoal</h2>
            <p class="text-blue-950">Estudante dedicado e entusiasta
                de programação, estou buscando
                uma oportunidade para iniciar
                minha carreira na área. Possuo
                sólidos conhecimentos teóricos
                adquiridos por meio de cursos e
                estudos independentes, e estou
                ansioso para aplicar minhas
                habilidades em um ambiente
                profissional. Sou motivado,
                autodidata e apaixonado por
                resolver problemas complexos
                por meio de soluções criativas de
                programação.</p>
          </div>
          
          
        {% endblock %}
    </body>
</html>