<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        {% block title %}
        <title>Início | Portfolio</title>
        {% endblock %}
        {% block css %}
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
        <link href="{{ url_for('static', filename='styles/output.css') }}" rel="stylesheet">
        {% endblock %}
    </head>
    <body class="bg-gray-50">
        {% block navbar %}
        <header class="navbar bg-blue-900 drop-shadow-xl">
            <div class="container">
                <img src="{{ url_for('static', filename='logo.jpeg') }}" class="logo">
                <nav class="menu">
                    <ul>
                        <li><a href="/" class="hover:underline transition duration-200 ease-in-out">Início</a></li>
                        <li><a href="/projects" class="hover:underline transition duration-200 ease-in-out">Projetos</a></li>
                        <li><a href="/about" class="hover:underline transition duration-200 ease-in-out">Sobre mim</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        {% endblock %}
        {% block body %}
        <h1 class="text-3xl bounderline font-bold">
            Hello world!
        </h1>
        {% endblock %}
    </body>
</html>