body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.logo {
    width: 30px;
}

.menu ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.menu ul li a {
    color: #f7f9f9;
    text-decoration: none;
}
