{% extends "index.html" %}
{% block title %}
<title>Sobre mim | Portfolio</title>
{% endblock%}

{% block body %}
<body class="bg-gradient-to-r from-slate-950 via-slate-800 to-slate-950">
<div class="flex justify-center items-start min-h-screen w-full animate-fadeIn">
    <div class="md:w-7/12">
        <h1 class="text-gray-100 text-7xl md:text-8xl font-bold w-full">Quem sou eu?</h1>
        <p class="text-gray-100 text-2xl font-semibold w-full p-3 ">Olá! Sou Rafael dos Santos, eu sou estudante de desenvolvimento de software.</p>
        <p class="text-gray-100 text-2xl font-semibold w-full p-3">Atualmente estou em busca da minha primeira experiência profissional. Estou cursando o primeiro semestre de Desenvolvimento de Software Multiplataforma na FATEC.</p>
        <p class="text-gray-100 text-2xl font-semibold w-full p-3">Minha abordagem de trabalho preferida é a metodologia ágil, que valoriza a colaboração e entrega contínua. Adoto a clean architecture para construir sistemas modulares e testáveis.</p>
        <p class="text-gray-100 text-2xl font-semibold w-full p-3">Sou comunicativo, colaborativo e comprometido com a qualidade. Estou ansioso para embarcar em novos desafios e contribuir para projetos empolgantes no desenvolvimento de software.</p>
        <p class="text-gray-100 text-2xl font-semibold w-full -5">Você pode me encontrar no LinkedIn [link] ou entrar em contato comigo através do e-mail [e-mail].</p>
    </div>
    
</div>
<div class="mb-12 animate-fadeIn">
    <p class="text-gray-100 text-6xl font-semibold w-full flex justify-center my-8">Tech Stack</p>
    <div class="flex justify-center flex-nowrap">
        <div class="grid grid-cols-4 gap-2 place-items-center">
            <!-- Back-end e Banco de Dados -->
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/python/python-original.svg" class="w-20 h-20 mx-2"/>
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/flask/flask-original.svg" class="w-20 h-20 mx-2"/>
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mysql/mysql-original.svg" class="w-20 h-20 mx-2"/>
            
            <!-- Ambiente e Ferramentas de Desenvolvimento -->
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/docker/docker-original.svg" class="w-20 h-20 mx-2"/>
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/linux/linux-original.svg" class="w-20 h-20 mx-2"/>
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/amazonwebservices/amazonwebservices-plain-wordmark.svg" />            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg" class="w-20 h-20 mx-2"/>
            
            <!-- Back-end JavaScript -->
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/nodejs/nodejs-original-wordmark.svg" class="w-20 h-20 mx-2"/>
            
            <!-- Front-end -->
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg" class="w-20 h-20 mx-2"/>
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg" class="w-20 h-20 mx-2"/>
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original.svg" class="w-20 h-20 mx-2"/>
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/tailwindcss/tailwindcss-original.svg" class="w-20 h-20 mx-2"/>
        </div>
    </div>
</div>
</body>

{% endblock%}