<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercicio Design</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    
    <main class="container">
        <section class="first-section">
            <div class="img-section">
                <img src="https://avatars.githubusercontent.com/FaelSantoss" alt="">
            </div>
            <div class="text-section">
                <p>Rafael dos Santos</p>
                <p>Estudante da FATEC</p>
                <p>Estagiario desenvolvedor full stack</p>
            </div>
        </section>
        <section class="second-section">
            <div class="block">
                <a target="_blank" href="https://github.com/FaelSantoss">Github</a>
            </div>
            <div class="block">
                <a target="_blank" href="https://www.linkedin.com/in/rafael-santos-6243b1255/">Linkedin</a>
            </div>
            <div class="block">
                <a target="_blank" href="https://www.instagram.com/fael.santoss_/">Instagram</a>
            </div>
        </section>
    </main>
    
</body>
</html>