{% extends "./index.html" %}

{% block title %}
<title>Projetos | Portfolio</title>
{% endblock%}

{% block body %}
<body class="bg-gradient-to-r from-slate-950 via-slate-800 to-slate-950">
<h1 class="text-7xl text-center md:text-7xl font-bold text-gray-100 mb-2 mt-16 ml-6">Projetos Academicos</h1>
<div class="flex items-start justify-center">
    <div>
        <img src="{{ url_for('static', filename='imgs/smartfarming.png')}}" alt="Imagem"
        class="object-cover"/>
        <h1 class="text-gray-100 text-2xl font-bold w-full text-center">Smarting-Farming</h1>
    </div>
    <div>
        <img src="{{ url_for('static', filename='imgs/meutimao.png')}}" alt="Imagem"
        class="object-cover" />
        <h1 class="text-gray-100 text-2xl font-bold w-full text-center">Meu Timão</h1>
    </div>
</div>
<h1 class="text-7xl text-center md:text-7xl font-bold text-gray-100 mb-2 mt-16 ml-6">Projetos Pessoais</h1>
<div class="flex items-start justify-center mb-32">
    <div>
        <img src="{{ url_for('static', filename='imgs/buscacep.png')}}" alt="Imagem"
        class="object-cover"/>
        <h1 class="text-gray-100 text-2xl font-bold w-full text-center">Buscador CEP</h1>
    </div>
    <div>
        <img src="{{ url_for('static', filename='imgs/todolist.png')}}" alt="Imagem"
        class="object-cover" />
        <h1 class="text-gray-100 text-2xl font-bold w-full text-center">Todo Avançado</h1>
    </div>
</div>
{% include 'components/footer.html' %}
<body>
{% endblock%}