{% extends "./index.html" %}
{% block title %}
<title>Projetos | Portfolio</title>
{% endblock%}

{% block body %}
<div class=" p-4 md:p-0">
        <h1 class="text-7xl md:text-8xl font-bold text-yellow-500 mb-12 mt-6 ml-16">Projetos<br>Pessoais</h1>
        <div class="flex flex-wrap gap-8">
            {% for personal_project in personal_projects %}
            <div class="bg-white shadow-md rounded-lg p-6 max-w-md mx-auto my-10 flex flex-wrap gap-8">
                <div>
                    <h2 class="text-blue-950 font-bold text-3xl mb-4">{{personal_project.title}}</h2>
                    <p class="text-lg text-blue-950">
                        {{personal_project.content}}
                    </p>
                    <p class="text-lg text-gray-800"></p>
                </div>
                <div class="flex flex-wrap gap-2">
                    <p class="text-lg bg-gray-200 rounded-full px-3 py-1">Html</p>
                    <p class="text-lg bg-gray-200 rounded-full px-3 py-1">Css</p>
                    <p class="text-lg bg-gray-200 rounded-full px-3 py-1">Javascript</p>
                </div>
                <a href={{personal_project.link}} class="text-gray-800">Repositorio GitHub</a>
            </div>
            {% endfor%}
        </div>
</div>
{% endblock%}